<%= @appointment.id ? "Edit Appointment" : "Create New Appointment" %>

<%= form_with(model: [@user, @appointment], local:true) do |f| %>
<div>
  <%=f.label :appointment_date %>
  <%=f.date_field :appointment_date, required: true %>
</div>
<div>
  <%=f.label :appointment_description %>
  <%=f.text_field :appointment_description, required: true %>
</div>
<div>
  <%= f.label :doctor %>
  <%= f.select :doctor_id, Doctor.all.collect{ |d| [d.name, d.id]} %>
</div>

   <%=f.submit  %>
<% end %>

